.App {
  display: flex;
  flex-direction: column;
}

.header {
  background-color: cornflowerblue;
  color: white;
  padding: 20px;
}

.site-title {
  font-size: 20px;
  text-transform: uppercase;
  display: inline;
}

.btn-wrapper section {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.action-wrapper {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.button {
  margin: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  width: 35%;
  font-size: 30px;
  border: 2px solid white;
  color: rgba(0, 0, 0, 0.6);
  transition: all 0.3s ease;
  border: 5px solid transparent;
  cursor: pointer;
}

.button:hover {
  color: #fff;
  background-color: royalblue;
}

.button:active, 
.button:focus {
  border: 5px solid grey;

}
.actual-time {
  text-align: center;
  font-size: 40px;
}


.data-list {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.project-list {
  align-items: center;
  flex-direction: column;
  display: flex;
  justify-content: center;
}

.add-project-section {
  display: flex;
  flex-direction: column;
  padding: 50px;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin: 0 auto;
}

.input {
  width: 100%;
  padding: 5px 10px;
}

@keyframes info-box {
  0% {bottom: -10px}
  95% {bottom: 30px}
  100% {bottom: 0}
}

.info-box:not(:empty) {
  position: absolute;
  bottom: 0;
  right: 0;
  border: 2px solid cornflowerblue;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  background-color:antiquewhite;

  animation-name: info-box;
  animation-duration: 1s;
}