.App {
  display: flex;
  flex-direction: column;
}

.header {
  background-color: cornflowerblue;
  color: white;
  padding: 20px;
}
.site-title {
  font-size: 20px;
  text-transform: uppercase;
  display: inline;
}
button {
  max-width: 200px;
  margin: 50px;
}

.btn-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.data-list {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.project-list {
  align-items: center;
  display: flex;
  justify-content: center;
}